<div class="footer">
    <div class="row">
        <div class="col-md-2" style="color: white; vertical-align: bottom">
            <br>&copy 2018 - All Rights Reserved
        </div>
        <div class="col-md-8 text-center" style="color: white">
            <td valign="bottom" align="center">
                Khoa Công Nghệ Thông Tin -
                <a href="http://www.hcmus.edu.vn/" class="text-white" target="_blank">ĐH KHTN TP.HCM</a>
                <br> 227 Nguyễn Văn Cừ Q5 Tp.HCM - (08) 38.354.266 - (08) 38.324.467
            </td>
        </div>
        <div class="col-md-2 text-center">
            <h5 class="mt-2">
                <a href="#" class="text-white">Support</a>
            </h5>
        </div>
    </div>
</div>