<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/assets/bootstrap/dist/css/bootstrap.min.css' />
</head>

<body>
    {{> navbar}}
    <div class="container-fluid">
        <div class="row">
            {{> sidebar}} 
            <main role="main" class="col-md-9 ml-sm-auto px-4"> 
                <h1>Các khóa học của tôi</h1>
                <!-- DS các khóa học -->
                <div style="margin-top: 4%; padding-left: 5%; padding-right: 5%;">
                    <!-- Khóa học 1 -->
                    <div class="row list-item" style="margin-top: 2%;">
                        <div class="col-md-11">
                            Khóa học 1
                        </div>
                        <div class="col-md-1">
                            <div class="circle-background" style="background: red; float: right;">
                                1
                            </div>
                        </div>
                    </div>
                    <!-- Khóa học 2 -->
                    <div class="row list-item" style="margin-top: 2%;">
                        <div class="col-md-11">
                            Khóa học 2
                        </div>
                        <div class="col-md-1">
                            <div class="" style="color: green; float: right;">
                                plus
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /DS các khóa học -->
            </main>
        </div>
    </div>
    <script src="/assets/jquery-3.3.1.min.js"></script>
    <script src="/assets/popper.min.js"></script>
    <script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>