<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/assets/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href="/assets/fontawesome-all.min.css"/>
</head>

<body>
    {{> navbar}}
    <div class="container-fluid">
        <div class="row">
            {{> sidebar}} 
            <main role="main" class="col-md-9 ml-sm-auto px-4"> 
                <h1>Các khóa học của tôi</h1>
            </main>
        </div>
    </div>
    <script src="/assets/jquery-3.3.1.min.js"></script>
    <script src="/assets/popper.min.js"></script>
    <script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>