<!DOCTYPE html>
<html>

<head>
    <title>Bài tập 2</title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/breadcrumbs.css' />
    <link rel='stylesheet' href='/assets/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href="/assets/fontawesome-all.min.css"/>
</head>

<body>
    {{> navbar}}
    <div class="container-fluid  mt-5">
        <div class="row">
            {{> sidebar}} 
            <main role="main" class="col-md-9 ml-sm-auto px-4"> 
                {{!-- Breadcrumb --}}
                <ul id="breadcrumb">
                    <li>
                        <a href="#">
                            <span class="fa fa-home"> </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">Projects</a>
                    </li>
                    <li>
                        <a href="#">Breadcrumb</a>
                    </li>
                </ul>

                <!--THÔNG TIN BÀI TẬP-->
                <h1>Bài tập 2</h1>
                <div style="margin-top: 2%; font-size: 130%;">
                    Hạn chót: 23h55 - 26/3/2018
                    <br/>
                    Trạng thái: Chưa nộp
                    <br/>
                    Nội dung bài tập: ...
                </div>
                <!-- KHUNG NỘP BÀI -->
                <div style="margin: 5% 5% 0 5%;">
                    <div style="background: #D9D9D9;padding: 1%;">
                        <!-- VÙNG KÉO THẢ FILE -->
                        <div id="drop-zone" class="drop-zone" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);" ondragleave="dragLeaveHandler(event)">
                            Có thể thêm các tập tin bằng cách kéo thả
                        </div>
                    </div>
                    <div style="display: flex; background: #CCCCCC; text-align: center;padding: 1%;">
                        <div class="image-button">
                            <div  class="fa fa-paperclip" style="font-size: 150%; padding-top: 3%;">
                            </div>
                            <div style="padding-bottom: 3%;">
                                Thêm tập tin
                            </div>
                        </div>
                        <div class="image-button" style="margin-left: 1%;">
                            <div class="fa fa-link" style="font-size: 150%; padding-top: 3%;">
                            </div>
                            <div style="padding-bottom: 3%;">
                                Chèn link
                            </div>
                        </div>
                        <form action="/student/course/kh1" method="GET" style="margin-left: auto; margin-right: 0;">
                            <button id="submit-button" class="button" disabled>Nộp bài</button>
                        </form>
                        <form action="/student/course/kh1" method="GET" style="margin-left: 1%; margin-right: 1%;">
                            <button class="button">Hủy</button>
                        </form>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script>
        function dropHandler(ev) {
            console.log('File(s) dropped');

            // Prevent default behavior (Prevent file from being opened)
            ev.preventDefault();

            document.getElementById("submit-button").disabled = false;
            document.getElementById("drop-zone").innerHTML = "";
            
            if (ev.dataTransfer.items) {
                // Use DataTransferItemList interface to access the file(s)
                for (var i = 0; i < ev.dataTransfer.items.length; i++) {
                    // If dropped items aren't files, reject them
                    if (ev.dataTransfer.items[i].kind === 'file') {
                        var file = ev.dataTransfer.items[i].getAsFile();
                        console.log('... file[' + i + '].name = ' + file.name);
                        document.getElementById("drop-zone").innerHTML += file.name + "<br/>";
                    }
                }
            } else {
                // Use DataTransfer interface to access the file(s)
                for (var i = 0; i < ev.dataTransfer.files.length; i++) {
                    console.log('... file[' + i + '].name = ' + ev.dataTransfer.files[i].name);
                    document.getElementById("drop-zone").innerHTML += ev.dataTransfer.files[i].name + "<br/>";
                }
            }

            // Pass event to removeDragData for cleanup
            removeDragData(ev)
        }

        function dragOverHandler(ev) {
            console.log('File(s) in drop zone'); 
            // Prevent default behavior (Prevent file from being opened)

            ev.preventDefault();
            ev.target.className = "drop-zone-hover";
        }

        function dragLeaveHandler(ev) {
            console.log('File(s) in leave zone'); 
            // Prevent default behavior (Prevent file from being opened)

            ev.preventDefault();
            ev.target.className = "drop-zone";
        }

        function removeDragData(ev) {
            console.log('Removing drag data')
            
            if (ev.dataTransfer.items) {
                // Use DataTransferItemList interface to remove the drag data
                ev.dataTransfer.items.clear();
            } else {
                // Use DataTransfer interface to remove the drag data
                ev.dataTransfer.clearData();
            }
        }
    </script>

    <script src="/assets/jquery-3.3.1.min.js"></script>
    <script src="/assets/popper.min.js"></script>
    <script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
<footer>
    <div class="row">
        <div class="col-md text-center">
            <h4 class="">
                <a class="text-white" href="#">Hỗ trợ</a>
            </h4>
        </div>
        <div class="col-md text-center">
            <h4 class="">
                <a href="#" class="text-white">FAQ</a>
            </h4>
        </div>
    </div>
</footer>
</html>