.contentMain {
    margin-top: 4%;
    padding-left: 5%;
    padding-right: 5%;
}

.contentCourse {
    margin-top: 2%;
}

.exercise {
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.exeLab {
    margin-bottom: 6px;
    font-size: 20px;
}

.exeName {
    font-size: 26px; 
    font-weight: bold;
}

.verticalText {
    padding-top: 6px;
    padding-bottom: 6px;
}

.docZone {
    margin: 2% 5% 0 5%;
}

.dropZone {
    background: #D9D9D9;
    padding: 1%;
}

.docButtonZone {
    display: flex;
    background: #CCCCCC;
    text-align: center;
}

.docIcon {
    font-size: 150%;
    padding-top: 3%;
}

.docIconLabel {
    padding-bottom: 3%;
}

.docIconMargin {
    margin-left: 1%;
}